<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">

        <title>Asterix libraries - $title$</title>

        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

        <meta name="keywords" content="asterix"/>
        <meta name="description" content="asterix data libraries"/>
    </head>
    <body>
        <header>
            <div id="logo">
                Asterix data processing libraries
            </div>
            <nav>
                <a href="/index.html">Home</a>
                <a href="/python.html">Python</a>
                <a href="/haskell.html">Haskell</a>
                <a href="/source.html">Project</a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>

        <footer>
            Fork this project on <a href="https://github.com/zoranbosnjak/comet">github</a>.
        </footer>
    </body>
</html>

